<nav class="navigation">
  <a href=""
    ><img
      class="navigation__icon"
      src="../icons/home.svg"
      alt="Home"
      width="30"
      height="30"
  /></a>
  <a href=""
    ><img
      class="navigation__icon"
      src="../icons/bookmark.svg"
      alt="Bookmark"
      width="30"
      height="30"
  /></a>
  <a href=""
    ><img
      class="navigation__icon"
      src="../icons/create.svg"
      alt="Create"
      width="30"
      height="30"
  /></a>
  <a href=""
    ><img
      class="navigation__icon"
      src="../icons/settings.svg"
      alt="Settings"
      width="30"
      height="30"
  /></a>
</nav>
