.quiz-card {
  background-color: rgb(241, 241, 241);
  margin: 30px 10px;
  padding: 25px;
  text-align: center;
  border-radius: 30px;
  position: relative;
}

.quiz-card__bookmark {
  position: absolute;
  top: -16px;
  right: 30px;
  filter: invert(22%) sepia(71%) saturate(2901%) hue-rotate(219deg)
    brightness(103%) contrast(105%);
}

.quiz-card__list {
  padding-left: 0;
}

.quiz-card__tag {
  font-size: 1em;
  background: linear-gradient(to bottom right, #7027f4, #006af5);
  padding: 5px 10px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 200;
  margin-top: 10px;
  list-style: none;
  display: inline-block;
}
