.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: linear-gradient(to bottom right, #7027f4, #006af5);
}

.navigation a {
  padding: 9px;
}

.navigation__icon {
  filter: invert(22%) sepia(71%) saturate(2901%) hue-rotate(219deg)
    brightness(103%) contrast(105%);
}
