.create {
  margin: 30px;
  text-align: center;
}

.create__form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.create__form-input {
  font-family: 'Nunito', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  color: var(--text-color);
}

.create__form-input-dark-mode {
  color: var(--text-color__dark-mode);
}

.create__form-text {
  margin-bottom: 15px;
  border: 2px solid var(--color-lightblue);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding: 5px;
  color: var(--text-color);
}

.create__form-text-dark-mode {
  background: transparent;
  color: inherit;
  border: 2px solid var(--color-lightblue__dark-mode);
}

.create__form-button {
  font-size: 1.2em;
  background: linear-gradient(
    225deg,
    var(--color-lightblue),
    var(--color-lightpurple)
  );
  padding: 8px 15px;
  border-radius: 30px;
  border: none;
  color: var(--color-white);
  font-weight: 200;
  margin-top: 20px;
  list-style: none;
  display: inline-block;
}

.create__form-button-dark-mode {
  background: linear-gradient(
    225deg,
    var(--color-lightblue__dark-mode),
    var(--color-lightpurple__dark-mode)
  );
}
