<form class="create">
  <section class="create__form">
    <label class="create__form-input" for="question"
      >Add a new question:
    </label>

    <textarea
      class="create__form-text"
      rows="5"
      cols="33"
      name="question"
      id="question"
      required
    ></textarea>
  </section>
  <section class="create__form">
    <label class="create__form-input" for="answer"
      >Tell us the right answer:
    </label>

    <textarea
      class="create__form-text"
      rows="5"
      cols="33"
      name="answer"
      id="answer"
      required
    ></textarea>
  </section>
  <section class="create__form">
    <label class="create__form-input" for="tags">Add some tags: </label><br />
    <input
      class="create__form-text"
      type="text"
      name="tags"
      id="tags"
      required
    />
  </section>
  <section class="create__form">
    <input
      class="create__form-button"
      type="submit"
      value="Submit your Question!"
    />
  </section>
</form>
