<section class="quiz-card">
  <img
    class="quiz-card__bookmark"
    src="../icons/bookmark.svg"
    alt="Bookmark"
    width="30"
    height="30"
  />
  <h2>What is always coming but never arrives?</h2>
  <section data-js="card">
    <button class="quiz-card__button" data-js="button">Show Answer</button>
    <p data-js="answer" class="hidden">Tomorrow</p>
  </section>
  <ul class="quiz-card__list">
    <li class="quiz-card__tag">Tag 1</li>
    <li class="quiz-card__tag">Tag 2</li>
    <li class="quiz-card__tag">Tag 3</li>
    <li class="quiz-card__tag">Tag 4</li>
  </ul>
</section>
