<section class="quiz-card">
  <img
    class="quiz-card__bookmark"
    src="../icons/bookmark.svg"
    alt="Bookmark"
    width="30"
    height="30"
  />
  <h2>What is always coming but never arrives?</h2>
  <details>
    <summary class="quiz-card__summary">Show Answer</summary>
    Tomorrow
  </details>
  <ul class="quiz-card__list">
    <li class="quiz-card__tag">Tag 1</li>
    <li class="quiz-card__tag">Tag 2</li>
    <li class="quiz-card__tag">Tag 3</li>
    <li class="quiz-card__tag">Tag 4</li>
  </ul>
</section>
