.quiz-card {
  background-color: var(--color-lightgrey);
  margin: 30px 10px;
  padding: 25px;
  text-align: center;
  border-radius: 30px;
  position: relative;
}

.quiz-card__bookmark {
  position: absolute;
  top: -16px;
  right: 30px;
  filter: invert(35%) sepia(62%) saturate(1695%) hue-rotate(212deg)
    brightness(95%) contrast(98%);

  /* var(--color-blue) */
}

.quiz-card__list {
  padding: 0;
  margin-bottom: 0;
}

.quiz-card__tag {
  font-size: 1em;
  background: linear-gradient(
    225deg,
    var(--color-lightblue),
    var(--color-lightpurple)
  );
  padding: 5px 10px;
  border-radius: 30px;
  border: none;
  color: var(--color-white);
  font-weight: 200;
  list-style: none;
  display: inline-block;
}

details > summary {
  list-style: none;
}

.quiz-card__summary::-webkit-details-marker {
  display: none;
}
