:root {
  --color-lightblue: #2f83f2;
  --color-blue: #4969f1;
  --color-purple: #664cf1;
  --color-lightpurple: #7939f0;
  --color-white: #fff;
  --color-lightgrey: #f1f1f1;
  --text-color: #4d4d4d;
}
